@model IEnumerable<MVCCRUD_.Models.Carrera>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCarrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultadId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCarrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultadId)
            </td>
            <td>
                <a asp-action="Edit"  class="btn btn-warning" asp-route-id="@item.CarreraId">Edit</a> |
                    <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.CarreraId">Details</a> |
                    <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.CarreraId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
