@model IEnumerable<MVCCRUD_.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarreraId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarreraId)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.UsuarioId">Edit</a> |
                    <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.UsuarioId">Details</a> |
                    <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.UsuarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
